.product-container {
    display: flex;
    gap: 32px;
    padding: 0 32px;
    width: 75vw;
}

.shopping-cart {
    width: 25vw;
}

.main-container {
    display: flex;
}

@media (max-width: 850px) {
    .product-container {
        flex-direction: column;
    }
}